# Python
*.pyc
*~
__pycache__

#env
.env
.webenv/
.venv/

# Database
db.sqlite3

# Static folder at project root
/static/

# Media folder at project root
/media/

# macOS 
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Visual Studio
.vscode/
.history/
*.code-workspace