{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Orders</h1>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary"><span data-feather="list"></span> Sort by</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                  {% for key, label in sort_options.items %}
                  {% if key == sortby %}
                    <a class="nav-link active sort-option" aria-current="page" href="" name="{{key}}">{{label}}</a>
                  {% else %}
                    <a class="nav-link sort-option" name="{{key}}" href="">{{label}}</a>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
        </div>
        <div class="btn-group px-1">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary"><span data-feather="filter"></span> Filter</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only"></span>
                </button>
                <div class="dropdown-menu">
                  {% for key, label in filter_options.items %}
                  {% if key == filterby %}
                    <a class="nav-link active filter-option" href="" aria-current="page" name="{{key}}">{{label}}</a>
                  {% else %}
                    <a class="nav-link filter-option" href="" name="{{key}}">{{label}}</a>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
        </div>
    </div>
</div> 

{{orders|safe}}

{% if selected_order != None %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 id='order-name' class="h2">{{selected_order.name}}</h1>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
            <a href="/orders/{{selected_order.pipedrive_id}}"><button type="button" class="btn btn-sm btn-secondary"> Go To Order Page <span data-feather="arrow-right-circle"></span></button></a>
        </div>
    </div>
</div> 
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
    {% if selected_order.status == 6 %}
    <h4 class="h6">status: <span style="color:green;">{{selected_order.get_status}}</span> <i>&nbsp;{{selected_order.status_date}}</i></h4>
    {% else %}
    <h4 class="h6">status: <span style="color:#bc2a1a;">{{selected_order.get_status}}</span> <i>&nbsp;{{selected_order.status_date}}</i></h4>
    {% endif %}
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
            <a class='edit-status' id='edit-status' href="/orders/{{selected_order.pipedrive_id}}/edit_status" data-popup-url="/orders/{{selected_order.pipedrive_id}}/edit_status"><button type="button" class="btn btn-sm btn-outline-secondary"> <span data-feather="clock"></span> Edit Status</button></a>
        </div>
    </div>
</div> 
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
  <h4 class="h6">customer: {{selected_order.customer.name}}</h4>
  <div class="btn-toolbar" role="toolbar">
      <div class="btn-group px-1">
          <a class='edit-customer' id='edit-customer' href="/customers/{{selected_order.customer.id}}/edit" data-popup-url="/customers/{{selected_order.customer.id}}/edit"><button type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="user"></span> Edit Customer Info</button></a>
      </div>
  </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
  <h4 class="h6">total value: {{selected_order.currency}} {{selected_order.total}}</h4>
  <div class="btn-toolbar" role="toolbar">
      <div class="btn-group px-1">
        <a href="{{selected_order.get_edit_url}}"><button type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="database"></span> Edit Line Items in Pipedrive</button></a>
      </div>
  </div>
</div> 
{{purchases|safe}}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="h5">Files</h4>
</div> 
<ul class="list-group pb-3">
    {% for filetype,file_obj in files.items %}
    {% if file_obj is not None %}
    <li class="list-group-item">
        <a target="_blank" href="/orders/{{selected_order.pipedrive_id}}/{{filetype}}">{{filetype|as_title}}</a> 
        {% if filetype == 'purchase_order' %}
        <i>&nbsp; received {{file_obj.received_date}}</i>
        {% else %}
        {% if file_obj.sent_date is not None %}
        <i>&nbsp; sent {{file_obj.sent_date}}</i>
        {% endif %}
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
</div>
{% include 'components/modals/edit-status-modal.html' %}
{% include 'components/modals/edit-customer-modal.html' %}
{% endblock %}
{% block script %}
<script>
$('#table').on('click-row.bs.table', function (row,$el,field) {
    //append query to url on select row to trigger 
    var url=window.location.href;
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('id',$el[0]);
    window.location.search = urlParams;
})

$(document).on("click", ".filter-option", function (e) {
    e.preventDefault();
    var url=window.location.href;
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('filter', $(this).attr('name'));
    window.location.search = urlParams;
    });

$(document).on("click", ".sort-option", function (e) {
    e.preventDefault();
    var url=window.location.href;
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('sort', $(this).attr('name'));
    window.location.search = urlParams;
    });

$(document).on("click", ".edit-status", function (e) {
    e.preventDefault();
    var $popup = $("#editStatusModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
    });
$(document).on("click", ".edit-customer", function (e) {
    e.preventDefault();
    var $popup = $("#editCustomerModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}