{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block content %}
<style>
    .progress-bar-vertical {
    width: 10px;
    height: 100%;
    transform: rotate(180deg);
    background: #d0cece;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;      
    align-items: flex-end;
    -webkit-align-items: flex-end;
    }

    .progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
    background-color: #bc2a1a;
    }
</style>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 id='order-name' class="h2">{{selected_order.name}}</h1>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
            <a class='edit-order' id='edit-order' href="/orders/{{selected_order.pipedrive_id}}/edit_meta" data-popup-url="/orders/{{selected_order.pipedrive_id}}/edit_meta"><button type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="edit-3"></span> Edit Order Details</button></a>
        </div>
    </div>
</div> 
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
    {% if selected_order.status == 6 %}
    <h4 class="h6">status: <span style="color:green;">{{selected_order.get_status}}</span> <i>&nbsp;{{selected_order.status_date}}</i></h4>
    {% else %}
    <h4 class="h6">status: <span style="color:#bc2a1a;">{{selected_order.get_status}}</span> <i>&nbsp;{{selected_order.status_date}}</i></h4>
    {% endif %}
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
            <a class='edit-status' id='edit-status' href="/orders/{{selected_order.pipedrive_id}}/edit_status" data-popup-url="/orders/{{selected_order.pipedrive_id}}/edit_status"><button type="button" class="btn btn-sm btn-outline-secondary"> <span data-feather="clock"></span> Edit Status</button></a>
        </div>
    </div>
</div> 
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
    <h4 class="h6">customer: {{selected_order.customer.name}}</h4>
</div>
{{purchases|safe}}
<div class="container py-3 ">
    <div class="row status-components">
        <div class="col" >
            <div class="progress flex-row-reverse progress-bar-vertical">
                <div class="progress-bar progress-striped" role="progressbar" aria-valuenow="{{progress_percent}}" aria-valuemin="0" aria-valuemax="100" style="height: {{progress_percent}}%;">
                </div>
              </div>
        </div>
        <div class="col-11">
            {% for filetype, file_obj in files.items %}
                <div class="status-checkpoint">
                    {% if file_obj is not None %}
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
                        <h1 class="h2">{{filetype|as_title}}</h1>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group px-1">
                                    <a href="/orders/{{selected_order.pipedrive_id}}/{{filetype}}" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="eye"></span> View File</button></a>
                                </div>
                                <div class="btn-group px-1">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_id" value="delete_file">
                                        <input type="hidden" name="filetype" value="{{filetype}}">
                                        <input type="hidden" name ="pk" id="pk" value="{{selected_order.pipedrive_id}}">
                                        <button type="submit" class="btn btn-sm btn-outline-danger"><span data-feather="trash"></span> Delete file</button>
                                    </form>
                                </div>
                            </div>
                    </div>
                    {% if file_obj.sent_date is None %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form_id" value="set_date">
                        <input type="hidden" name="filetype" value="{{filetype}}">
                        <input type="hidden" name ="pk" id="pk" value="{{selected_order.pipedrive_id}}">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2 border-bottom">
                            {% with forms=file_form|key:filetype %}
                            {{forms.date.as_p}}
                            {% endwith %}
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group px-1">
                                    <button type="submit" class="btn btn-sm btn-outline-success"><span data-feather="send"></span> Mark as Sent</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2 border-bottom">
                        <h4 class="h6" id="order-status">sent date: {{file_obj.sent_date}}</h4>
                        <div class=class="btn-toolbar" role="toolbar">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="form_id" value="undo_set_date">
                                <input type="hidden" name="filetype" value="{{filetype}}">
                                <input type="hidden" name ="pk" id="pk" value="{{selected_order.pipedrive_id}}">
                                <div class="btn-group px-1">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary"><span data-feather="rotate-ccw"></span> Undo Mark as Sent</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-3">
                        <h1 class="h2">{{filetype|as_title}}</h1>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group px-1">
                                <a href="/orders/{{selected_order.pipedrive_id}}/{{filetype}}/generate"><button type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="file-plus"></span> Generate</button></a>
                            </div>
                            <div class="btn-group px-1">
                                <a class='upload-file' id='upload-file' href="/orders/{{selected_order.pipedrive_id}}/{{filetype}}/upload" data-popup-url="/orders/{{selected_order.pipedrive_id}}/{{filetype}}/upload"><button type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="upload"></span> Upload</button></a>
                            </div>
                            <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <form method="post" class="modal-content" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h5 class="modal-title">Upload {{filetype|as_title}} File</h5>
                                          </div>
                                        <input type="hidden" name="form_id" value="upload_file">
                                        <input type="hidden" name="filetype" value="{{filetype}}">
                                        <input type="hidden" name ="pk" id="pk" value="{{selected_order.pipedrive_id}}">
                                        <div class="modal-body"></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-sm btn-outline-success">Save</button>
                                        </div>
                                    </form>
                                  </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 border-bottom">
                    </div>
                {% endif %}
                </div>
            {% endfor %}
            <div class="status-checkpoint">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
                    <h1 class="h2">Delivery Confirmation</h1>
                </div>
                {% if selected_order.status != 6 %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="mark_complete">
                    <input type="hidden" name ="pk" id="pk" value="{{selected_order.pipedrive_id}}">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 border-bottom">
                        {{complete_form.as_p}}
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group px-1">
                                <button type="submit" class="btn btn-sm btn-outline-success"><span data-feather="truck"></span> Mark Order as Complete</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2  border-bottom">
                    <h4 class="h6" id="order-status">Order completion date: {{selected_order.status_date}}</h4>
                    <div class=class="btn-toolbar" role="toolbar">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_id" value="undo_mark_complete">
                            <input type="hidden" name ="pk" id="pk" value="{{selected_order.pipedrive_id}}">
                            <div class="btn-group px-1">
                                <button type="submit" class="btn btn-sm btn-outline-danger"><span data-feather="rotate-ccw"></span> Reopen Order</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST" class="modal-content">
            {% csrf_token %}
            <input type="hidden" name="form_id" value="edit_order_meta">
            <div class="modal-header">
              <h5 class="modal-title">Edit Order Details</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-sm btn-outline-success">Save</button>
            </div>
        </form>
      </div>
</div>
</div>
<div class="modal fade" id="editStatusModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST" class="modal-content">
            {% csrf_token %}
            <input type="hidden" name="form_id" value="edit_order_status">
            <div class="modal-header">
              <h5 class="modal-title">Edit Order Status</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-sm btn-outline-success">Save</button>
            </div>
        </form>
      </div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).on("click", ".edit-status", function (e) {
    e.preventDefault();
    var $popup = $("#editStatusModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
    });

$(document).on("click", ".edit-order", function (e) {
    e.preventDefault();
    var $popup = $("#editOrderModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
    });

$(document).on("click", ".upload-file", function (e) {
    e.preventDefault();
    var $popup = $("#uploadFileModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
    });
</script>
{% endblock%}