{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block content %}
<style>
    .progress-bar-vertical {
    width: 10px;
    height: 100%;
    transform: rotate(180deg);
    background: #d0cece;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;      
    align-items: flex-end;
    -webkit-align-items: flex-end;
    }

    .progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
    background-color: #bc2a1a;
    }
</style>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
            <a href="../orders"><button type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="arrow-left-circle"></span> Back to Orders</button></a>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 id='order-name' class="h2">{{selected_order.name}}</h1>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
            <a class='edit-order' id='edit-order' href="/orders/{{selected_order.pipedrive_id}}/edit_meta" data-popup-url="/orders/{{selected_order.pipedrive_id}}/edit_meta"><button type="button" class="btn btn-sm btn-outline-secondary"> <span data-feather="edit-3"></span> Edit Order Details</button></a>
        </div>
    </div>
</div> 
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
    {% if selected_order.status == 6 %}
    <h4 class="h6">status: <span style="color:green;">{{selected_order.get_status}}</span> <i>&nbsp;{{selected_order.status_date}}</i></h4>
    {% else %}
    <h4 class="h6">status: <span style="color:#bc2a1a;">{{selected_order.get_status}}</span> <i>&nbsp;{{selected_order.status_date}}</i></h4>
    {% endif %}
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
            <a class='edit-status' id='edit-status' href="/orders/{{selected_order.pipedrive_id}}/edit_status" data-popup-url="/orders/{{selected_order.pipedrive_id}}/edit_status"><button type="button" class="btn btn-sm btn-outline-secondary"> <span data-feather="clock"></span> Edit Status</button></a>
        </div>
    </div>
</div> 
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
    <h4 class="h6">customer: {{selected_order.customer.name}}</h4>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
            <a class='edit-customer' id='edit-customer' href="/customers/{{selected_order.customer.id}}/edit" data-popup-url="/customers/{{selected_order.customer.id}}/edit"><button type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="user"></span> Edit Customer Info</button></a>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
    <h4 class="h6">total value: {{selected_order.currency}} {{selected_order.total}}</h4>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group px-1">
          <a href="{{selected_order.get_edit_url}}"><button type="button" class="btn btn-sm btn-outline-secondary"><span data-feather="database"></span> Edit Line Items in Pipedrive</button></a>
        </div>
    </div>
  </div> 
{{purchases|safe}}
<div class="container py-3 ">
    <div class="row status-components">
        <div class="col" >
            <div class="progress flex-row-reverse progress-bar-vertical">
                <div class="progress-bar progress-striped" role="progressbar" aria-valuenow="{{progress_percent}}" aria-valuemin="0" aria-valuemax="100" style="height: {{progress_percent}}%;">
                </div>
              </div>
        </div>
        <div class="col-11">
            {% for filetype, file_obj in files.items %}
                <div class="status-checkpoint">
                    {% if filetype == 'purchase_order' %}
                    {% include 'components/purchase_order_checkpoint.html' %}
                    {% else %}
                    {% include 'components/file_checkpoint.html' %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="status-checkpoint">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2">
                    <h1 class="h2">Delivery Confirmation</h1>
                </div>
                {% if selected_order.status != 6 %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="mark_complete">
                    <input type="hidden" name ="pk" id="pk" value="{{selected_order.pipedrive_id}}">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 border-bottom">
                        {{complete_form.as_p}}
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group px-1">
                                <button type="submit" class="btn btn-sm btn-outline-success"><span data-feather="truck"></span> Mark Order as Complete</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2  border-bottom">
                    <h4 class="h6" id="order-status">Order completion date: {{selected_order.status_date}}</h4>
                    <div class=class="btn-toolbar" role="toolbar">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_id" value="undo_mark_complete">
                            <input type="hidden" name ="pk" id="pk" value="{{selected_order.pipedrive_id}}">
                            <div class="btn-group px-1">
                                <button type="submit" class="btn btn-sm btn-outline-danger"><span data-feather="rotate-ccw"></span> Reopen Order</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'components/modals/edit-order-modal.html' %}
{% include 'components/modals/edit-status-modal.html' %}
{% include 'components/modals/edit-customer-modal.html' %}
{% endblock %}
{% block script %}
<script>
$(document).on("click", ".edit-customer", function (e) {
    e.preventDefault();
    var $popup = $("#editCustomerModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
});
$(document).on("click", ".edit-status", function (e) {
    e.preventDefault();
    var $popup = $("#editStatusModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
    });

$(document).on("click", ".edit-order", function (e) {
    e.preventDefault();
    var $popup = $("#editOrderModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
    });

$(document).on("click", ".upload-file", function (e) {
    e.preventDefault();
    var $popup = $("#upload"+$(this).attr('name')+"Modal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
    });
</script>
{% endblock%}