{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Orders</h1>
</div> 
{{orders|safe}}

{% if selected_order != None %}
{% include 'components/order_detail.html' %}
{% endif %}
</div>
{% endblock %}
{% block script %}
<script>
$('#table').on('click-row.bs.table', function (row,$el,field) {
    var static_url="{% get_static_prefix %}";
    var filename = "assets/invoices/invoice-"+$el[0]+".pdf#navpanes=0"; 
    //document.getElementById('invoice').src = static_url+filename;
    
    //append query to url on select row to trigger 
    var url=window.location.href,
    url = (url.indexOf("/id=")===-1)?url:url.slice(0,url.indexOf("/id=")),
    newUrl=url+"/id="+$el[0];
    window.location.href =newUrl;

})

$(document).on("click", ".edit-order", function (e) {
    e.preventDefault();
    var $popup = $("#editOrderModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
    });

$(document).on("click", ".edit-status", function (e) {
    e.preventDefault();
    var $popup = $("#editStatusModal");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
    $popup.modal("show");
    });
    });
</script>
{% endblock %}